@import "../config/config.scss";
.listStyle {
  list-style: none;
}
.container {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputBox {
  -ms-flex-preferred-size: 26px;
  display: block;
  background: none;
  width: 20em;
  margin: 0 0 16px;
  padding: 2px;
  border-width: 0 0 1px 0;
  line-height: 26px;
  border-radius: 0;
  font-size: 16px;
  color: $brand-primary;
}
.inputBox:focus {
  outline: none;
  border-bottom: 1px solid $brand-highlight;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.doesNotExist {
  padding-top: 2em;
}
.tweetAnimation-appear {
  opacity: 0.01;
  -webkit-transition-delay:0.2s;
  transition-delay:0.2s;
}
.tweetAnimation-appear.tweetAnimation-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.tweetAnimation-enter {
  opacity: 0.01;
  -webkit-transition-delay:0.2s;
  transition-delay:0.2s;
}

.tweetAnimation-enter.tweetAnimation-enter-active {
  opacity: 1;
  transition: opacity .5ms ease-in;
}
